<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统登录 - 超市账单管理系统</title>
	<script type="text/javascript" th:src="@{/js/jquery-1.8.3.js}"></script>
	<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body class="blue-style">
<div id="login">
	<div class="icon"></div>
	<div class="login-box">
		<form method="post" action="login">
			<dl>
				<dt>用户名：</dt>
				<dd><input type="text" name="userName" class="input-text"/></dd>
				<dt>密　码：</dt>
				<dd><input type="password" name="userPwd" class="input-text" /></dd>
			</dl>
			<div class="buttons">
				<input type="submit" name="submit" value="登录系统" class="input-button" />
				<input type="reset" name="reset" value="重　　填" class="input-button" />
			</div>
			<p style="color: red;margin-top: 7px;margin-left: 290px" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
		</form>
	</div>
</div>
</body>
</html>
