<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Insert title here</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.js}"></script>
    <!--validate表单验证插件-->
    <script type="text/javascript" th:src="@{/validate/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/validate/messages_zh.js}"></script>
    <script type="text/javascript" th:src="@{/validate/additional-methods.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <style>
        input.error {
            border: 1px solid red;
        }

        label.error {
            font-weight: bold;
            color: red;
        }
    </style>
    <script>
        $(function () {
            $("#form1").validate({
                rules: {
                    userPwdOld: {
                        required: true,
                        equalTo:"[name='password1']"
                    },
                    userPwd: {
                        required: true
                    },
                    userPwd1: {
                        required: true,
                        equalTo:"[name='userPwd']"
                    }
                },
                messages: {
                    userPwdOld: {
                        required: "密码不能为空",
                        equalTo:"与旧密码不一致"
                    },
                    userPwd: {
                        required: "新密码不能为空"
                    },
                    userPwd1: {
                        required: "确认密码不能为空",
                        equalTo:"两次密码不一致"
                    }
                },
                errorElement: "label", //用来创建错误提示信息标签
                success: function (label) { //验证成功后的执行的回调函数
                    //label指向上面那个错误提示信息标签label
                    label.text(" ") //清空错误提示消息
                        .addClass("success"); //加上自定义的success类
                }
            });
        });

        function userSubmit() {
            var flag = $("#form1").valid();
            if (!flag) {
                //没有通过验证
                return;
            }
            $.ajax({
                url:"userinfo",
                type:"post",
                data:$("form").serialize()+"&_method=put",
                success:function (result) {
                    if (result>0){
                        alert("修改成功！");
                        location.href='userinfos';
                    }else {
                        alert("修改失败！");
                    }
                }
            })
        }
    </script>
</head>
<body>
<div class="main">
    <div class="optitle clearfix">
        <div class="title">用户密码修改&gt;&gt;</div>
    </div>
    <form id="form1" name="form1" method="post" action="user.do" onsubmit="return checkit();">
        <input type="hidden" name="password1" th:value="${user.userPwd}"/>
        <input type="hidden" name="userId" th:value="${user.userId}">
        <div class="content">
            <table class="box"><font color="red"></font>
                <tr>
                    <td class="field">旧的密码：</td>
                    <td><input type="text" name="userPwdOld" class="text"/></font>
                    </td>
                </tr>
                <tr>
                    <td class="field">新的密码：</td>
                    <td><input type="text" name="userPwd" class="text"/></td>
                </tr>
                <tr>
                    <td class="field">确认密码：</td>
                    <td><input type="text" name="userPwd1" class="text"/></td>
                </tr>
            </table>
        </div>
        <div class="buttons">
            <input name="button" value="修改密码" class="input-button" type="button" onclick="userSubmit()">
            <input name="button" onclick="window.history.back();" value="返回" class="input-button" type="button">
        </div>

    </form>
</div>
</body>
</html>
